@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BinancePlex";
  src: url("https://db.onlinewebfonts.com/t/d05c19ccecf7003d248c60ffd6b5e8f7.eot");
  src: url("https://db.onlinewebfonts.com/t/d05c19ccecf7003d248c60ffd6b5e8f7.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/d05c19ccecf7003d248c60ffd6b5e8f7.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/d05c19ccecf7003d248c60ffd6b5e8f7.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/d05c19ccecf7003d248c60ffd6b5e8f7.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/d05c19ccecf7003d248c60ffd6b5e8f7.svg#Binance PLEX")
      format("svg");
}

:root {
  --background: #ffffff;
  --foreground: #0b0e11;
  --background-card: #181a20;
  --plus: rgb(46 189 133);
  --plus-hover: rgb(46 189 133 / 60%);
  --minus: rgb(246 70 93);
  --minus-hover: rgb(246 70 93 / 60%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0b0e11;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: BinancePlex, Arial, sans-serif !important;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  background-color: #181a20 !important;
  border: 1px solid #ffffff;
  transform: rotate(45deg);
}

/* 스크롤바 넓이 지정 */
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

/* 스크롤바 트랙 꾸미기 */
::-webkit-scrollbar-track {
  /* background: #888; */
  border-radius: 5px;
}

/* 스크롤바 손잡이 꾸미기 */
::-webkit-scrollbar-thumb {
  background: #5e6673;
  border-radius: 5px;
}

@keyframes ticker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* 기존 스크롤바 관련 스타일을 다음으로 대체 */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}
