@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0b0e11;
  --background-card: #181a20;
  --plus: rgb(46 189 133);
  --plus-hover: rgb(46 189 133 / 60%);
  --minus: rgb(246 70 93);
  --minus-hover: rgb(246 70 93 / 60%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0b0e11;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* 스크롤바 넓이 지정 */
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

/* 스크롤바 트랙 꾸미기 */
::-webkit-scrollbar-track {
  /* background: #888; */
  border-radius: 5px;
}

/* 스크롤바 손잡이 꾸미기 */
::-webkit-scrollbar-thumb {
  background: #5e6673;
  border-radius: 5px;
}
