@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0b0e11;
  --background-card: #181a20;
  --plus: rgb(46 189 133);
  --minus: rgb(246 70 93);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0b0e11;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
